:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --red: hsl(0, 100%, 66%);
  --blue: hsl(249, 99%, 64%);
  --violet: hsl(278, 94%, 30%);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

body {
  background-image: url(./assets/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30lvw 100lvh;
}

@media (max-width: 500px) {
  body {
    background-size: 100lvw 30lvh;
  }
}
